body {
	margin:0px;
	padding: 0px;
	background-color: #fbf6df;
	font-family: "Mosk", "Helvetica Nueu", sans-serif;
	color: #fbf6df;
}
/*///////////////////////////////////Header/////////////////////////////////*/

header {
	margin-top: -35px;
	height: 220px;
}

header img {
	width: 100%;
}

/*/////////////////////////////////Boutons///////////////////////////////*/

#boutons {
	display: flex;
}

/*/////////////////////////////////Hexagone 1///////////////////////////////*/

#hexa1 {
	width: 90%;
	margin-top: 70%;
	margin-left: 65%;
}

/*/////////////////////////////////Hexagone 2///////////////////////////////*/

#hexa2 {
	width: 90%;
	margin-top: 31%;
	margin-left: 35%;
}

/*/////////////////////////////////Hexagone 3///////////////////////////////*/

#hexa3 {
	width: 90%;
	margin-top: 70%;
	margin-left: 5%;
}

/*/////////////////////////////////Hexagone 4///////////////////////////////*/

#hexa4 {
	width: 90%;
	margin-top: 31%;
	margin-left: -25%;
}

/*/////////////////////////////////Hexagone 5///////////////////////////////*/

#hexa5 {
	width: 90%;
	margin-top: 70%;
	margin-left: -55%;
}

