body {
	margin:0px;
	padding: 0px;
	background-color: #fbf6df;
	font-family: "Mosk", "Helvetica Nueu", sans-serif;
	color: #fbf6df;
}
/*///////////////////////////////////Header/////////////////////////////////*/

header {
	margin-top: -35px;
	height: 220px;
}

header img {
	width: 100%;
}

/*/////////////////////////////////Boutons///////////////////////////////*/

#boutons {
	display: flex;
}

/*/////////////////////////////////Hexagone 1///////////////////////////////*/

#hexa1 {
	width: 90%;
	margin-top: 63%;
	margin-left: 65%;
}

/*//////////Animation///////////////////*/

#formation img:hover{
	animation-name: formationAnim;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes formationAnim {
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

/*/////////////////////////////////Hexagone 2///////////////////////////////*/

#hexa2 {
	width: 90%;
	margin-top: 24%;
	margin-left: 35%;
}

/*//////////Animation///////////////////*/

#experiences img:hover{
	animation-name: expAnim ;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes expAnim {
	50% {
		transform: scale(1.05);
		z-index: 2;
	}
	100% {
		transform: scale(1);
	}
}

/*/////////////////////////////////Hexagone 3///////////////////////////////*/

#hexa3 {
	width: 90%;
	margin-top: 63%;
	margin-left: 5%;
}

/*//////////Animation///////////////////*/

#competences img:hover {
	animation-name: competAnim ;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes competAnim {
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

/*/////////////////////////////////Hexagone 4///////////////////////////////*/

#hexa4 {
	width: 90%;
	margin-top: 24%;
	margin-left: -25%;
}

/*//////////Animation///////////////////*/

#realisation img:hover {
	animation-name: realAnim;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes realAnim {
	50% {
		transform: scale(1.05);
		z-index: 2;
	}
	100% {
		transform: scale(1);
	}
}

/*/////////////////////////////////Hexagone 5///////////////////////////////*/

#hexa5 {
	width: 90%;
	margin-top: 63%;
	margin-left: -55%;
}

/*//////////Animation///////////////////*/

#contact img:hover{
	animation-name: contactAnim ;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes contactAnim {
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

/*/////////////////////////////////Responsive mobile///////////////////////////////*/

@media screen and (max-width: 480px) {
	header {
		margin-top: 0px;
		height: 100px;
	}

	#boutons{
		flex-direction: column;
	}

	#hexa1 {
	width: 39%;
	margin-top: -5%;
	margin-left: 16%;
	}

	#hexa2 {
	width: 39%;
	margin-top: -11%;
	margin-left: 43%;
	}

	#hexa3 {
		width: 39%;
		margin-top: -11%;
		margin-left: 16%
	}

	#hexa4 {
	width: 39%;
	margin-top: -11%;
	margin-left: 43%;
	}

	#hexa5 {
		width: 39%;
		margin-top: -11%;
		margin-left: 16%
	}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	header {
		margin-top: 0px;
		height: 100px;
	}

	#boutons{
		flex-direction: column;
	}

	#hexa1 {
	width: 30%;
	margin-top: 150%;
	margin-left: 40%;
	}

	#hexa2 {
	width: 30%;
	margin-top: 105%;
	margin-left: 19%;
	}

	#hexa3 {
		width: 30%;
		margin-top: 150%;
		margin-left: -2%
	}

	#hexa4 {
	width: 30%;
	margin-top: 105%;
	margin-left: -23%;
	}

	#hexa5 {
		width: 30%;
		margin-top: 150%;
		margin-left: -44%
	}
}


/*/////////////////////////////////Responsive Grand Ecran///////////////////////////////*/

@media screen and (min-width: 2560px) {
	header {
		margin-top: 0px;
		height: 100px;
	}

	#hexa1 {
	width: 100%;
	margin-top: 150%;
	margin-left: 40%;
	}

	#hexa2 {
	width: 100%;
	margin-top: 105%;
	margin-left: 19%;
	}

	#hexa3 {
		width: 100%;
		margin-top: 150%;
		margin-left: -2%
	}

	#hexa4 {
	width: 100%;
	margin-top: 105%;
	margin-left: -23%;
	}

	#hexa5 {
		width: 100%;
		margin-top: 150%;
		margin-left: -44%
	}

}