/*///////////////////////////Affichage typo////////////////////////////////////*/
@font-face {
    font-family: 'mosk_normal_400regular';
    src: url('mosk_normal_400-webfont.eot');
    src: url('mosk_normal_400-webfont.eot?#iefix') format('embedded-opentype'),
         url('mosk_normal_400-webfont.woff2') format('woff2'),
         url('mosk_normal_400-webfont.woff') format('woff'),
         url('mosk_normal_400-webfont.ttf') format('truetype'),
         url('mosk_normal_400-webfont.svg#mosk_normal_400regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*///////////////////////////Body////////////////////////////////////*/

body { 
  height: 100%; 
  width: 100%;
  font-family:'mosk_normal_400regular', sans-serif;
  margin:0;
  padding:0;
  overflow-x: hidden; 
  color: #505659;
}

/*///////////////////////////Menu////////////////////////////////////*/

nav .navigation {
  width: 70%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #2ba0a0;
}

/*////////////Navigation Menu - List items////////////*/

.nav-item {
  width: 200px;
}

.nav-item a {
  display: block;
  padding: 1em;
  color: #fbf6df;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
}

.nav-item a:hover {
  color: #505659;
}

.contenu {
  min-height: 500%;
  min-width: 100%;
  background-color: #fbf6df; 
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding: 4em;
  
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6' fill='#2ba0a0'/><rect y='24' width='30' height='6' fill='#2ba0a0'/><rect y='12' width='30' height='6' fill='#2ba0a0'/></svg>");
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .contenu {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked ~ .contenu {
  left: 200px;
}

/*///////////////////////////Contenu////////////////////////////////////*/

h1 {
  font-size: 4em;
  margin: -2% auto 1%;
  color: #2ba0a0; 
}

.icone {
  width: 1%;
}

.icone2 {
  width: 10%;
}

#iconeForm {
  transform: rotate(90deg);
}

h2 {
  font-size: 2em;
  margin-bottom: -0.5%;
}

p {
  font-size: 1.2em;
}

/*///////////////////////////Responsive mobile////////////////////////////////////*/

@media screen and (max-width: 480px) {

 h1 {
  font-size: 3em;
  margin: -5% auto 1%;
  color: #2ba0a0; 
}

.icone {
    width: 4%;
}

h2 {
  font-size: 1.4em;
  margin-bottom: -0.5%;
  word-wrap: break-word;
  width: 50%;
}

p {
  font-size: 1.2em;
  word-wrap: break-word;
}
}