body {  
  width: 100%;
  font-family:'mosk_normal_400regular', sans-serif;
  margin:0;
  padding:0;
  overflow-x: hidden; 
  color: #505659;
}

/*///////////////////////////Contenu////////////////////////////////////*/

h1 {
  font-size: 4em;
  margin: -2% auto 1%;
  color: #2ba0a0; 
}

.icone {
  width: 1%;
}

.icone2 {
  width: 10%;
}

h2 {
  font-size: 2em;
  margin-bottom: -0.5%;
}

p {
  font-size: 1.2em;
  width: 80%;
}

/*///////////////////////////Responsive mobile////////////////////////////////////*/

@media screen and (max-width: 480px) {

h1 {
  font-size: 2.2em;
  margin: -5% auto 1%;
  color: #2ba0a0; 
}

.icone {
    width: 6%;
}

h2 {
  font-size: 1.4em;
  margin-bottom: -0.5%;
}

p {
  font-size: 1.2em;
  width:100%;
}

}

