table{
	width:100%;
	margin-top:4%;
	h2{
		color: #2ba0a0;
	}
	thead{
		text-align: center;
	}
	td{
		width:20%;
		img{
			width:20%;
		}
	}
	.td-center{
		img{
			margin-left: 40%;
		}
	}
}

@media screen and (max-width: 956px) {
	table{
		h2{
			font-size: 1.6em;
		}
		td{
			img{
				width: 35%;
			}
		}
		.correction_down{
			img{
				width: 27%;
			}
		}
		.correction_up{
			img{
				width: 42%;
			}
		}
	}
}