@font-face {
    font-family: 'mosk_normal_400regular';
    src: url('../mosk_normal_400-webfont.eot');
    src: url('../mosk_normal_400-webfont.eot?#iefix') format('embedded-opentype'),
         url('../mosk_normal_400-webfont.woff2') format('woff2'),
         url('../mosk_normal_400-webfont.woff') format('woff'),
         url('../mosk_normal_400-webfont.ttf') format('truetype'),
         url('../mosk_normal_400-webfont.svg#mosk_normal_400regular') format('svg');
    font-weight: normal;
    font-style: normal; 
}