$duration_default: 3s;
$iteration:infinite;
$scale_half:1.05;
$scale_complete:1;
$font_default:'mosk_normal_400regular', sans-serif;

@import '_body.scss';
@import '_typo';

/*///////////////////////////////////Header/////////////////////////////////*/

header {
	font-family:$font_default;
	font-size:1.3em;
	-moz-margin-top:5%;
	-moz-margin-bottom:2%;
	margin-top:5%;
	margin-bottom:2%;
	text-align:center;
}

#separation{
	border-bottom: 10px solid #505659;
	width:20%;
	margin-left:auto;
	margin-right:auto;
}

/*/////////////////////////////////Boutons///////////////////////////////*/

#boutons {
	display: flex;
}

@mixin hexagone($top,$left){
	margin-top:$top;
	margin-left:$left;

}

/*/////////////////////////////////Hexagone 1///////////////////////////////*/

#hexa1 {
	@include hexagone(43%,48%);
	width:68%;
}

/*//////////Animation///////////////////*/

#formation img:hover{
	animation-name: formationAnim;
	animation-duration: $duration_default;
	animation-iteration-count: $iteration;
	-moz-animation-name: formationAnim;
	-moz-animation-duration: $duration_default;
	-moz-animation-iteration-count: $iteration;
}

@keyframes formationAnim {
	50% {
		transform: scale($scale_half);
	}
	100% {
		transform: scale($scale_complete);
	}
}

/*/////////////////////////////////Hexagone 2///////////////////////////////*/

#hexa2 {
	@include hexagone(17%,0%);
	width: 100%;
}

/*//////////Animation///////////////////*/

#experiences img:hover{
	animation-name: expAnim ;
	animation-duration: $duration_default;
	animation-iteration-count: $iteration;
	-moz-animation-name: expAnim ;
	-moz-animation-duration: $duration_default;
	-moz-animation-iteration-count: $iteration;
}

@keyframes expAnim {
	50% {
		transform: scale($scale_half);
		z-index: 2;
	}
	100% {
		transform: scale($scale_complete);
	}
}

/*/////////////////////////////////Hexagone 3///////////////////////////////*/

#hexa3 {
	@include hexagone(62%,-23%);
	width:100%;
}

/*//////////Animation///////////////////*/

#competences img:hover {
	animation-name: competAnim ;
	animation-duration: $duration_default;
	animation-iteration-count: $iteration;
}

@keyframes competAnim {
	50% {
		transform: scale($scale_half);
	}
	100% {
		transform: scale($scale_complete);
	}
}

/*/////////////////////////////////Hexagone 4///////////////////////////////*/

#hexa4 {
	@include hexagone(18%,-46%);
	width:99%;
}

/*//////////Animation///////////////////*/

#realisation img:hover {
	animation-name: realAnim;
	animation-duration: $duration_default;
	animation-iteration-count: $iteration;
}

@keyframes realAnim {
	50% {
		transform: scale($scale_half);
		z-index: 2;
	}
	100% {
		transform: scale($scale_complete);
	}
}

/*/////////////////////////////////Hexagone 5///////////////////////////////*/

#hexa5 {
	@include hexagone(62%,-70%);
	width:100%;
}

/*//////////Animation///////////////////*/

#contact img:hover{
	animation-name: contactAnim ;
	animation-duration: $duration_default;
	animation-iteration-count: $iteration;
}

@keyframes contactAnim {
	50% {
		transform: scale($scale_half);
	}
	100% {
		transform: scale($scale_complete);
	}
}

/*/////////////////////////////////Responsive mobile///////////////////////////////*/

@media screen and (max-width: 480px) {

	header{
		margin-top: 10%;
		margin-bottom: 15%;
	}
	#separation{
		width:40%;
		border-bottom:5px solid #505659;
	}

	#boutons{
		flex-direction: column;
	}

	@mixin hexagone($top,$left){
		width:39%;
		margin-top:$top;
		margin-left:$left;
	}

	#hexa1 {
		@include hexagone(-5%,16%);
	}

	#hexa2 {
		@include hexagone(-11%,43%);
	}

	#hexa3 {
		@include hexagone(-11%,16%);
	}

	#hexa4 {
		@include hexagone(-11%,43%);
	}

	#hexa5 {
		@include hexagone(-11%,16%);
	}

}
///////////////////////////Tablette/////////////////////////

@media screen and (max-width: 768px) and (min-width: 480px) {
	#hexa1 {
		@include hexagone(63%,26%);
		width:100%;
	}
	#hexa2 {
		@include hexagone(17%,5%);
		width: 100%;
	}
	#hexa3 {
		@include hexagone(62%,-16%);
		width:100%;
	}
	#hexa4 {
		@include hexagone(18%,-36%);
		width:99%;
	}
	#hexa5 {
		@include hexagone(62%,-56%);
		width:100%;
	}

}
///////////////////////////Ordi/////////////////////////

@media screen and (max-width: 1024px) and (min-width: 769px) {
	#hexa1 {
		@include hexagone(55%,36%);
		width:85%;
	}

}
@media screen and (min-width: 1920px) {
	#hexa1 {
		@include hexagone(28%,63%);
		width:47%;
	}

}

@media screen and (min-width: 1680px) and (max-width: 1919px) {
	#hexa1 {
		@include hexagone(32%,59%);
		width:53%;
	}

}