$duration_default: 3s;
$iteration:infinite;
$scale_half:1.05;
$scale_complete:1;

@import '_body.scss';

/*///////////////////////////////////Header/////////////////////////////////*/

header {
	margin-top: -35px;
	height: 220px;
}

header img {
	width: 100%;
}

/*/////////////////////////////////Boutons///////////////////////////////*/

#boutons {
	display: flex;
}

@mixin hexagone($top,$left){
	width:90%;
	margin-top:$top;
	margin-left:$left;
}

/*/////////////////////////////////Hexagone 1///////////////////////////////*/

#hexa1 {
	@include hexagone(63%,65%);
}

/*//////////Animation///////////////////*/

#formation img:hover{
	animation-name: formationAnim;
	animation-duration: $duration_default;
	animation-iteration-count: $iteration;
}

@keyframes formationAnim {
	50% {
		transform: scale($scale_half);
	}
	100% {
		transform: scale($scale_complete);
	}
}

/*/////////////////////////////////Hexagone 2///////////////////////////////*/

#hexa2 {
	@include hexagone(24%,35%);
}

/*//////////Animation///////////////////*/

#experiences img:hover{
	animation-name: expAnim ;
	animation-duration: $duration_default;
	animation-iteration-count: $iteration;
}

@keyframes expAnim {
	50% {
		transform: scale($scale_half);
		z-index: 2;
	}
	100% {
		transform: scale($scale_complete);
	}
}

/*/////////////////////////////////Hexagone 3///////////////////////////////*/

#hexa3 {
	@include hexagone(63%,5%);
}

/*//////////Animation///////////////////*/

#competences img:hover {
	animation-name: competAnim ;
	animation-duration: $duration_default;
	animation-iteration-count: $iteration;
}

@keyframes competAnim {
	50% {
		transform: scale($scale_half);
	}
	100% {
		transform: scale($scale_complete);
	}
}

/*/////////////////////////////////Hexagone 4///////////////////////////////*/

#hexa4 {
	@include hexagone(24%,-25%);
}

/*//////////Animation///////////////////*/

#realisation img:hover {
	animation-name: realAnim;
	animation-duration: $duration_default;
	animation-iteration-count: $iteration;
}

@keyframes realAnim {
	50% {
		transform: scale($scale_half);
		z-index: 2;
	}
	100% {
		transform: scale($scale_complete);
	}
}

/*/////////////////////////////////Hexagone 5///////////////////////////////*/

#hexa5 {
	@include hexagone(63%,-55%);
}

/*//////////Animation///////////////////*/

#contact img:hover{
	animation-name: contactAnim ;
	animation-duration: $duration_default;
	animation-iteration-count: $iteration;
}

@keyframes contactAnim {
	50% {
		transform: scale($scale_half);
	}
	100% {
		transform: scale($scale_complete);
	}
}

/*/////////////////////////////////Responsive mobile///////////////////////////////*/

@media screen and (max-width: 480px) {
	header {
		margin-top: 0px;
		height: 100px;
	}

	#boutons{
		flex-direction: column;
	}

	@mixin hexagone($top,$left){
		width:39%;
		margin-top:$top;
		margin-left:$left;
	}

	#hexa1 {
		@include hexagone(-5%,16%);
	}

	#hexa2 {
		@include hexagone(-11%,43%);
	}

	#hexa3 {
		@include hexagone(-11%,16%);
	}

	#hexa4 {
		@include hexagone(-11%,43%);
	}

	#hexa5 {
		@include hexagone(-11%,16%);
	}
}

