@import '_typo';
@import '_body';
@import '_menu';

$font_default:'mosk_normal_400regular', sans-serif;
$color_default_contact: #2ba0a0;

/*///////////////////////////Formulaire////////////////////////////////////*/

body{
	overflow:hidden;
}

#titreContact{
	margin-bottom:-1.5%;
}

.contact{
	background-color: $color_default_contact;
	width:55%;
	padding:3%;	
	display:flex;
}

.reseaux{
	margin-top:8.8%;
	h2{
		margin-bottom: 6%;
	}
}

.alert{
	width:59.5%;
	padding: 10px;
	margin-top:-10px;
  	margin-bottom: 10px;
  	border: 1px solid transparent;
}

.alert-success {
  color: $color_default_contact;
  background-color: #cffcfc;
  border-color: $color_default_contact;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

#formulaire{
	width:50%;
	padding:1% 3% 3% 3%;	
}

.champ{
	display:flex;
	margin-bottom:5%;
}

.label{
	width:15%;
	font-size:1.4em;
	margin-left:-12%;
	margin-right:15%;
	display:flex;
	text-align:right;
}

input{
	width:175%;
	height:100%;
	padding-left:5%;
	font-family:$font_default;
	font-size:1.1em;
}

textarea{
	font-family:$font_default;
	font-size:1em;
	padding:3%;
}

.bouton-droit{
	margin-left:82%;
	margin-top:-5%;
}

#boutonEnvoi{
	color:white;
	background-color:#4e595c;
	border:none;
	padding:13%;
	font-family:$font_default;
	font-size:1.1em;
	cursor:  pointer;
}

.bande-icone{
	margin-left:10%;
}

.icone-reseaux{  
	width:15%;
	margin-right:3%;
	&:hover{
	animation-name: rotation;
	animation-duration:3s;
	animation-iteration-count: infinite;
	}
}

@import '_animrotation';
